@charset "UTF-8";
/* barvy */
/*$c-arrow-shadow: #ecdda8;*/
/* font */
/*border radius*/
.header {
  background-color: #131010;
  font-size: 18px;
}
.header__kontejner {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 40px;
}
.header__list {
  display: none;
}
.header__link {
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
.header__link:hover, .header__link:active, .header__link:focus {
  color: #cbe4fa;
}

.menu {
  width: 100%;
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #131010;
}
.menu__item {
  border-bottom: 1px solid #FFFFFF;
}
.menu__item:last-child {
  border-bottom: transparent;
}
.menu__link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #FFFFFF;
}
.menu__link:hover, .menu__link:active, .menu__link:focus {
  color: #cbe4fa;
}
.menu__toggler {
  cursor: pointer;
  color: #FFFFFF;
}

@media screen and (max-width: 849px) {
  .menu__checkbox:checked ~ .menu__list {
    display: block;
  }
}
@media screen and (min-width: 850px) {
  .header__kontejner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 20px;
  }
  .header__list {
    display: block;
    min-width: 400px;
  }
  .menu {
    display: flex;
    justify-content: end;
  }
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: flex;
    gap: 20px;
    background-color: #131010;
  }
  .menu__item {
    border-bottom: 0px;
    background-color: #131010;
  }
  .menu__item:first-child {
    display: none;
  }
  .menu__link {
    color: #FFFFFF;
  }
}
/*Konec stylování header*/
/* Šipky v sekci Služby */
.arrow {
  fill: #0E1BB7;
  position: absolute;
  bottom: 10px;
  right: 10px;
  filter: drop-shadow(2px 2px 2px #888888);
  transition: transform 0.5s;
  padding: 2px;
}
@media screen and (min-width: 560px) {
  .arrow--crossroad {
    rotate: 90deg;
  }
}

/*Stylovani tlacitka*/
.button {
  border-radius: 20px;
  background-color: #0E1BB7;
  display: inline-block;
  margin: 40px;
}
.button__title {
  padding: 15px 45px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
  text-shadow: 2px 2px 0.9 #888888;
  display: block;
}
.button:hover, .button:focus, .button:active {
  background-color: #0B17A5;
}
.button--centered {
  width: 100%;
  text-align: center;
}

/*Komponenty v sekci Služby*/
.service__box {
  border-radius: 10px;
  padding: 20px;
  margin: 10% 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.service__box:hover, .service__box:active, .service__box:focus {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 9px 25px 0 rgba(0, 0, 0, 0.22);
}

.service__card {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  margin: 20px 0;
}

.service__crossroad {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.button__service {
  background-color: #D8EBFC;
  padding: 20px;
  line-height: 1.4;
  min-height: 220px;
  border-radius: 20px;
  position: relative;
  max-height: -moz-fit-content;
  max-height: fit-content;
  box-shadow: 2px 2px 2px #b4c0ca;
  cursor: pointer;
  text-decoration: none;
}
.button__service__title {
  display: block;
  font-size: 24px;
  font-weight: 600;
  text-shadow: 2px 2px 1 #888888;
  margin: 0;
  padding: 20px;
  text-decoration: none;
  color: #131010;
  flex: 0 0 75%;
}
.button__service__image {
  margin: 5px;
}
.button__service:hover, .button__service:focus, .button__service:active {
  background-color: #cbe4fa;
}
.button__service--crossroad {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .button__service--crossroad {
    flex-direction: row;
  }
  .button__service__image {
    justify-self: center;
    align-self: center;
    margin: 10px;
  }
}
@media screen and (min-width: 840px) {
  .button__service--crossroad {
    flex-direction: column;
  }
}

.button__service:hover .arrow {
  transform: scale(1.4);
}

.button__service:active .arrow {
  transform: scale(1.4);
}

.button__service:focus .arrow {
  transform: scale(1.4);
}

.button__service--crossroad:hover .arrow--crossroad {
  transform: scale(1.5) rotateZ("0deg");
}

.button__service--crossroad:active .arrow--crossroad {
  transform: scale(1.5) rotateZ("0deg");
}

.button__service--crossroad:focus .arrow--crossroad {
  transform: scale(1.5) rotateZ("0deg");
}

.footer {
  background-color: #131010;
  color: #FFFFFF;
  line-height: 1.2;
  font-size: 16px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-content: center;
  padding-left: 3%;
  padding-right: 3%;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer__body {
  margin: 0;
}
.footer__copyright {
  grid-column: 1/-1;
  margin-top: 20px;
}

.formfield {
  max-width: 550px;
  margin-bottom: 25px;
}
.formfield__label {
  display: block;
  margin-bottom: 10px;
}
.formfield__input {
  width: 100%;
  outline: 0;
  border-radius: 10px;
  font-size: 24px;
  padding: 5px;
  background-color: #FFFFFF;
  border: 0;
}
.formfield__input:focus, .formfield__input:active {
  outline: #0E1BB7;
  border: 1px solid #0E1BB7;
}

/*konec stylování formulářových prvků*/
/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

/*Stylování body, textu a nadpisů*/
body {
  font-family: "Montserrat", sans-serif;
  color: #131010;
  font-size: 24px;
  margin: 0;
  line-height: 1.6;
  background-color: #f5f8fa;
}

.main {
  padding: 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f8fa;
  /*Pro slider footer*/
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.text--bold {
  font-weight: 600;
}

/*Stylovani kontaktni paticky*/
.kontaktni__paticka {
  margin: 0px;
  background-color: #D8EBFC;
  padding-top: 20px;
  position: relative;
  z-index: 1;
}
.kontaktni__paticka__text {
  font-size: 24px;
  font-weight: 600;
}
.kontaktni-kontejner {
  padding: 0 40px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.kontaktni__paticka__text a {
  color: #0E1BB7;
}

.kontaktni__paticka .section__headline {
  margin-top: 0;
}

.section__headline {
  color: #0E1BB7;
  font-size: 34px;
}
.section__headline::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  margin: 17px 0;
  background-color: #0E1BB7;
  border-radius: 10px;
}
.section__description {
  font-size: 24px;
}
.section__title {
  font-size: 28px;
  text-shadow: 2px 2px 0.8 #888888;
}
@media screen and (min-width: 800px) {
  .section__headline {
    font-size: 42px;
  }
  .section__title {
    font-size: 38px;
  }
}

/*Dílčí nadpisy v sekci Služby*/
.service__title {
  font-size: 38px;
  font-weight: 600;
  color: #0E1BB7;
  text-shadow: 2px 2px 0.8 #888888;
  margin-top: 0;
}
.service__subtitle {
  font-weight: 600;
}

/*stylování homepage*/
/* Nabídka služeb na homepage*/
.offer__title {
  margin: 20px 0;
  text-shadow: 2px 2px 0.8 #888888;
  font-size: 28px;
}
.offer__list {
  padding-left: 20px;
  margin-left: -5px;
  flex: 0 0 75%;
}
@media screen and (min-width: 800px) {
  .offer {
    margin-left: 30px;
  }
  .offer__title {
    font-size: 38px;
  }
}

.homepage__image {
  display: none;
}
@media screen and (min-width: 800px) {
  .homepage__kontejner {
    display: flex;
    justify-content: space-between;
  }
  .homepage__kontejner .homepage__image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
  }
}

/*Stylování hero sekce*/
.hero {
  background-image: url(../IMAGES/praha_small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 20px;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
.hero__logo {
  height: 100px;
  text-align: center;
}
.hero__title {
  font-size: 36px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px #888888;
}
.hero__caption, .hero__caption a {
  color: #FFFFFF;
  opacity: 0.8;
  font-size: 10px;
}
.hero__caption {
  display: inline;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
@media screen and (min-width: 800px) {
  .hero {
    min-height: 450px;
  }
  .hero__title {
    text-align: center;
    font-size: 52px;
  }
  .hero__caption, .hero__caption a {
    font-size: 12px;
  }
}
@media screen and (min-width: 960px) {
  .hero {
    background-image: url(../IMAGES/praha_medium.jpg);
  }
}

/*Konec stylování hero sekce*//*# sourceMappingURL=style.css.map */