@use 'promenne';

/* Šipky v sekci Služby */

.arrow {
    fill: promenne.$c-primary;
    position: absolute;
    bottom: 10px;
    right: 10px;
    filter: drop-shadow(2px 2px 2px promenne.$c-text-secondary);
    transition: transform 0.5s;
    padding: 2px;

    @media screen and (min-width:560px) {
        &--crossroad {
            rotate: 90deg;
        }
    }
}

/*Stylovani tlacitka*/


.button {
    border-radius: promenne.$border-radius--rounded;
    background-color: promenne.$c-primary;
    display: inline-block;
    margin: 40px;
    
    &__title {
        padding: 15px 45px;
        color: promenne.$c-white;
        text-decoration: none;
        font-weight: 600;
        text-shadow: 2px 2px 0.9 promenne.$c-text-secondary;
        display: block;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: promenne.$c-primary--onclick;
    }

    &--centered {
        width: 100%;
        text-align: center;
    }
    
}


/*Komponenty v sekci Služby*/


.service__box {
    border-radius: promenne.$border-radius--standard;
    padding: 20px;
    margin: 10% 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 9px 25px 0 rgba(0, 0, 0, 0.22);
    }

}

.service__card {

    border-radius: promenne.$border-radius--standard;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    margin: 60px 0;
     
}

.service__crossroad {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.button__service {
    background-color: promenne.$c-background-tertiary;
    padding: 10px;
    line-height: 1.4;
    min-height: 220px;
    border-radius: promenne.$border-radius--rounded;
    position: relative;
    max-height: fit-content;
    box-shadow: 2px 2px 2px promenne.$c-boxshadow;
    cursor: pointer;
    text-decoration: none;

    &__title {
        display: block;
        font-size: 24px;
        font-weight: 600;
        text-shadow: 2px 2px 1 promenne.$c-text-secondary;
        margin: 0;
        padding: 20px;
        text-decoration: none;
        color: promenne.$c-text-primary;
        flex: 0 0 75%;
    }

    &__image {
        margin: 5px;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: promenne.$c-background-tertiary--onclick;
    }
    
    &--crossroad {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    @media screen and (min-width: 700px) {
        
        &--crossroad {
            flex-direction: row;
        }   

        &__image {
            justify-self: center;
            align-self: center;
            margin: 10px;
        }

    }
    @media screen and (min-width: 1200px) {
        &--crossroad {
            flex-direction: column;
        }
    }    
}


.button__service:hover .arrow {
    transform: scale(1.4);
}

.button__service:active .arrow {
    transform: scale(1.4);
}

.button__service:focus .arrow {
    transform: scale(1.4);
}

.button__service--crossroad:hover .arrow--crossroad {
    transform: scale(1.5) rotateZ('0deg');
}

.button__service--crossroad:active .arrow--crossroad {
    transform: scale(1.5) rotateZ('0deg');
}

.button__service--crossroad:focus .arrow--crossroad {
    transform: scale(1.5) rotateZ('0deg');
}