@use 'promenne';

/* Komponenty */

.arrow {
    fill: promenne.$c-primary;
    position: absolute;
    bottom: 20px;
    right: 20px;
    filter: drop-shadow(2px 2px 2px promenne.$c-text-secondary);
    transition: transform 0.5s;
    margin: 0;
    padding: 0;

    @media screen and (min-width:560px) {
        &--crossroad {
            rotate: 90deg;
        }
    }
}

@keyframes crossroad {
    1% {transform: rotateZ("90deg");}
    100% {transform: scale(1.5) rotateZ("0deg");}
}

.button {
    border-radius: promenne.$border-radius--rounded;
    background-color: promenne.$c-primary;
    display: inline-block;
    margin: 20px;
    
    &__title {
        padding: 15px 45px;
        color: promenne.$c-white;
        text-decoration: none;
        font-weight: 600;
        text-shadow: 2px 2px 0.9 promenne.$c-text-secondary;
        display: block;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: promenne.$c-primary--onclick;
    }

    &--centered {
        width: 100%;
        text-align: center;
    }
    
}

.service__box {
    background-color: promenne.$c-background-service-box;
    border-radius: promenne.$border-radius--standard;
    padding: 20px;
    margin-top: 120px;
    box-shadow: 2px 2px 2px 1px promenne.$c-boxshadow;

}

.service__card {
    border-radius: promenne.$border-radius--standard;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    margin: 60px 0;
    
}

.button__service {
    background-color: promenne.$c-background-tertiary;
    padding: 20px;
    line-height: 1.4;
    height: 220px;
    border-radius: promenne.$border-radius--rounded;
    position: relative;
    max-height: fit-content;
    box-shadow: 2px 2px 2px promenne.$c-boxshadow;

    &__title {
        display: block;
        font-size: 24px;
        font-weight: 600;
        text-shadow: 2px 2px 1 promenne.$c-text-secondary;
        margin: 0;
        padding: 10px 20px 100px 10px;
        text-decoration: none;
        color: promenne.$c-text-primary;
        
    }

    &:hover,
    &:focus,
    &:active {
        background-color: promenne.$c-background-tertiary--onclick;
    }
}


.button__service:hover .arrow {
    transform: scale(1.5);
}

.button__service--crossroad:hover .arrow--crossroad{
    transform: scale(1.5) rotateZ('0deg');
}
