@use 'promenne';

.footer {
    background-color: promenne.$c-footer;
    color: promenne.$c-white;
    line-height: 1.2;
    font-size: 16px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    align-content: center;
    padding: 3%;

    /*Slider footer*/
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;

    /*Odstranění slider footer při velikosti větší než 1400px*/
    @media screen and (min-width: 1400px) {
        position: static;
    }
    
    &__body {
        margin: 0;
    }
    
    &__copyright {
        grid-column: 1 / -1;
        margin-top: 20px;
    }
}

