@use 'promenne';


.formfield {
    max-width: 550px;
    margin-bottom: 25px;


    &__label {
        display: block;
        margin-bottom: 10px;
    }

    &__input {
        width: 100%;
        outline: 0;
        border-radius: promenne.$border-radius--standard;
        font-size: 24px;
        padding: 5px;
        background-color: promenne.$c-lightgrey;
        border: 0;

        &:focus,
        &:active {
            outline: promenne.$c-primary;
            border: 1px solid promenne.$c-text-primary;
        }

    }



}

/*konec stylování formulářových prvků*/
