@use 'promenne';

.header {
    padding: 20px;
    background-color: promenne.$c-text-primary;
    
    /*NASTAVIT JEN PROSTREDNIMU ODKAZU PADDING 5PX*/

    &__item {       
        padding: 5px 0;
    } 

    @media screen and (min-width: 560px) {
        &__list {
            display: flex;
            justify-content: space-between;
            gap: 10px;
        }
     
        &__item {
            padding: 0;
        } 
    }

    
    &__link {
        text-decoration: none;
        color: promenne.$c-white; 
        margin: 0;
    }

}

/*Konec stylování header*/