
/* barvy */ 
$c-primary: #0E1BB7;
$c-primary--onclick: #0B17A5;
$c-background-secondary: #E5E5E5;
$c-text-primary: #131010;
$c-text-secondary: #888888;
$c-white: #FFFFFF;
$c-boxshadow: #D4DDFB;
$c-background-tertiary:#D8EBFC;
$c-background-tertiary--onclick: #cbe4fa;


$c-lightgrey: #F0F0F0;
$c-grey: #80808080;

$c-footer: #6B6C70;

/* font */
$font-basic: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

/*border radius*/
$border-radius--standard: 8pt;
$border-radius--rounded: 16pt;