
/* barvy */ 
$c-primary: #0E1BB7;
$c-primary--onclick: #0B17A5;
$c-background-secondary: #E5E5E5;
$c-text-primary: #131010;
$c-text-secondary: #888888;
$c-white: #FFFFFF;
$c-background-service-box: #f5f8fa;
$c-boxshadow: #b4c0ca;
$c-background-tertiary:#D8EBFC; // barva tlačítka v sekci služby
$c-background-tertiary--onclick: #cbe4fa;

/*$c-arrow-shadow: #ecdda8;*/


$c-lightgrey: #F0F0F0;
$c-grey: #80808080;

$c-footer: #131010;

/* font */
$font-basic: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

/*border radius*/
$border-radius--standard: 10px;
$border-radius--rounded: 20px;