@use 'promenne';
@use 'header';
@use 'components';
@use 'footer';
@use 'form';


/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }




/*Stylování body, textu a nadpisů*/

body {
    font-family: promenne.$font-basic;
    color: promenne.$c-text-primary;
    font-size: 24px;
    margin: 0;
    line-height: 1.6;
    background-color: promenne.$c-background-service-box;
}

.main {
    padding: 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: promenne.$c-background-service-box;
    
    /*Pro slider footer*/
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.text--bold {
    font-weight: 600;
}

/*Stylovani kontaktni paticky*/

.kontaktni { 
    &__paticka {
        margin: 0px;
        background-color: promenne.$c-background-tertiary;
        padding-top: 20px;
        position: relative;
        z-index: 1;

        
        &__text {
            font-size: 24px;
            font-weight: 600;
        }
    }
    &-kontejner {
        padding: 0 40px;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

}



.kontaktni__paticka__text a {
    color: promenne.$c-primary;
}

.kontaktni__paticka .section__headline {
    margin-top: 0;
}



.section {
    
    &__headline {
        color: promenne.$c-primary;
        font-size: 34px;
        
        &::after {
            content:"";
            display: block;
            width: 100px;
            height: 4px;
            margin: 17px 0;
            background-color: promenne.$c-primary;
            border-radius: promenne.$border-radius--standard;
        }
    }

    &__description {
        font-size: 24px;
    }

    &__title {
        font-size: 28px;
        text-shadow: 2px 2px 0.8 promenne.$c-text-secondary;
    }

    @media screen and (min-width: 800px) {
        &__headline {
            font-size: 42px;
        }

        &__title {
            font-size: 38px;
        }

    }    
}




/*Dílčí nadpisy v sekci Služby*/


.service {
    
    &__title {
        font-size: 38px;
        font-weight: 600;
        color: promenne.$c-primary;
        text-shadow: 2px 2px 0.8 promenne.$c-text-secondary;
        margin-top: 0;
    }
    &__subtitle {
        font-weight: 600;
    }
}


/*stylování homepage*/


/* Nabídka služeb na homepage*/

.offer {
    &__title {
        margin: 20px 0;
        text-shadow: 2px 2px 0.8 promenne.$c-text-secondary;
        font-size: 28px;
    }

    &__list {
        padding-left: 20px;
        margin-left: -5px;
        flex: 0 0 75%;
    }

    @media screen and (min-width: 800px) {
        margin-left: 30px;

        &__title {
            font-size: 38px;
        }
    }
}

.homepage {

    &__image {
        display: none;
    }

    &__kontejner {
        @media screen and (min-width: 800px) {
            display: flex;
            justify-content: space-between;


            .homepage__image {
                display: block;
                margin-right: auto;
                margin-left: auto;
                align-self: center;
            }
        }
    }

}

/*Stylování hero sekce*/

.hero {

    background-image: url(../IMAGES/praha_small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
    padding: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: promenne.$border-radius--standard;
    overflow: hidden;
    
    &__logo {
        height: 100px;
        text-align: center;
    }

    &__title {
        font-size: 36px;
        color: promenne.$c-white;
        margin: 0;
        padding: 0;
        text-shadow: 1px 1px promenne.$c-text-secondary;    
    }


    &__caption,
    &__caption a {
        color: promenne.$c-white;
        opacity: 0.8;
        font-size: 10px;
    }

    &__caption {
        display: inline;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    

    @media screen and (min-width: 800px) {
          
        min-height: 450px;
        
        &__title {
            text-align: center;
            font-size: 52px;

        }

        &__caption,
        &__caption a {
            font-size: 12px;
        }
    }

    @media screen and (min-width: 960px) {
        background-image: url(../IMAGES/praha_medium.jpg);
    }    
}

/*Konec stylování hero sekce*/