<header class="header">
    <div class="header__list">
        <div class="header__item">
            <a class="header__link" href="/">Law & Security in CyberSpace</a>
        </div>
        
    </div>
</header>