<header class="header">
    
    <div class="header__kontejner"> 
        
        <div class="header__list">
            <div class="header__item">
                <a class="header__link" href="/">Law & Security in CyberSpace</a>
            </div>
        </div>

        <nav class="menu">
            <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
            <label for="menu-checkbox" class="menu__toggler">☰ Menu</label>
            
            <ul class="menu__list">
                <li class="menu__item"> <a class="menu__link" href="/">Home</a></li>
                <li class="menu__item"> <a class="menu__link" href="http://www.securu.cz">securu.cz</a></li>
                <li class="menu__item"> <a class="menu__link"  href="http://www.znalec.it">znalec.it</a></li>
                <li class="menu__item"> <a class="menu__link"  href="/sluzby/">služby</a></li>
            </ul>
            
        </nav>
            
    </div>
</header>