<div class="kontaktni__paticka">

    <div class="kontaktni-kontejner"> <!--Slouzi pouze k urceni max-sirky-->

    
        <h2 class="section__headline">Zaujaly Vás naše služby?</h2>

        <p class="kontaktni__paticka__text">Napište na <a href = mailto:"info@znalec.it">info@znalec.it</a>, zavolejte na +420 725 XXX XXX nebo jednoduše vyplňte kontaktní formulář.</p>

        <div class="button--centered">
            <div class="button">
                <a class="button__title" href="/../../Kontakt-znalec/">Napište nám</a>
            </div>

        </div>    
    </div>    
</div>