<!-- hamburger menu-->
<nav class="menu">
    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
    <label for="menu-checkbox" class="menu__toggler">☰ Menu</label>

    <ul class="menu__list">

        <li class="menu__item"> <a class="menu__link" href="http://www.securu.cz">securu.cz</a></li>
        <li class="menu__item"> <a class="menu__link"  href="http://www.znalec.it">znalec.it</a></li>
        <li class="menu__item"> <a class="menu__link"  href="/sluzby/">Služby</a></li>
        <li class="menu__item"> <a class="menu__link"  href="/sluzby/">Kontakt Securu</a></li>
        <li class="menu__item"> <a class="menu__link"  href="/sluzby/">Kontakt Znalec</a></li>
    </ul>


</nav>
